.parent{
  background-color: lightblue;
  width:fit-content;
  display:flex;
  padding:.2em;
  border: 2px dotted #000;
}

.child{
  background-color: rgb(241, 143, 136);
  flex-direction: row;
  justify-content: space-evenly;
  margin:.5em 1em;
  height:150px;
  width:150px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}